@import "base/base";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

$color-primary: #f2c698;
$color-secondary: #0c3e35;
$text-color: #33403d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: $text-color;
}

p {
  margin: 0.5rem 0;
}

.wrapper {
  width: 75rem;
  margin: 0 auto;
}

#scroll {
  position: fixed;
  right: 0.625rem;
  bottom: 0.625rem;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  background-color: $color-secondary;
  text-indent: -624.9375rem;
  display: none;
  -webkit-border-radius: 3.75rem;
  -moz-border-radius: 3.75rem;
  border-radius: 3.75rem;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5rem;
    margin-top: -0.75rem;
    height: 0;
    width: 0;
    border: 0.5rem solid transparent;
    border-bottom-color: #ffffff;
  }

  &:hover {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
  }
}

/* navigation */

.nav-container {
  background: $color-primary;
  height: 10rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  color: $text-color;

  .logo {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    display: flex;
    align-items: center;

    img {
      margin-right: -0.625rem;
      margin-top: 0.25rem;
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      a {
        margin-right: 1.875rem;
        font-weight: 400;
        font-size: 1.25rem;
        position: relative;
        padding-bottom: 0.1875rem;
        transition: all 0.5s;

        &:after,
        &:before {
          transition: all 0.5s;
        }

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: ".";
          color: transparent;
          background: $color-secondary;
          height: 0.0625rem;
        }

        &:hover:after {
          width: 100%;
        }
      }

      &:nth-last-of-type(1) {
        margin-right: 0;
      }
    }
  }
}

/* header */

.header-container {
  background: $color-primary;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  margin-top: -4.375rem;

  div {
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 127.1%;
    letter-spacing: 0.01em;
    color: $text-color;
    width: 33.375rem;
  }
}

header {
  .brown-text {
    color: #ce8a44;
    position: relative;

    img {
      position: absolute;
      top: 1.25rem;
      left: 18.75rem;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 130.1%;
    letter-spacing: 0.06em;
    color: $text-color;
    width: 30rem;
    margin-bottom: 4.5rem;
    margin-top: 1.125rem;
  }

  a {
    font-size: 1.5rem;
    line-height: 130.1%;
    letter-spacing: 0.06em;
    padding: 1.375rem 1.75rem;
    color: #ffffff;
    background: $color-secondary;
  }

  .header-img {
    position: relative;

    img {
      position: relative;

      /* box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25)); */
      box-shadow: rgba(134, 198, 116, 0.1);
      z-index: 3;
    }

    .img-bg-g {
      position: absolute;
      width: 23.5rem;
      height: 27.5rem;
      top: 0.125rem;
      left: 0.1875rem;
      background: #5a9f45;
      box-shadow: rgba(134, 198, 116, 0.1);
      transform: rotate(-8deg);
      transition: all 0.2s linear;
    }

    &:hover .img-bg-g {
      transform: rotate(0deg);
    }

    .img-bg-w {
      position: absolute;
      width: 23.5rem;
      height: 27.5rem;
      top: 0.125rem;
      left: 0.1875rem;
      background: #f6f7fb;
      box-shadow: rgba(12, 62, 53, 0.17);
      transform: rotate(8deg);
      transition: all 0.2s linear;
    }

    &:hover .img-bg-w {
      transform: rotate(0deg);
    }
  }
}

/* showcase */

.showcase-container {
  margin-bottom: 9.5625rem;

  .coll {
    margin-top: 1.1875rem;
  }

  .coll-header,
  .best-header {
    font-weight: bold;
    font-size: 2.875rem;
    line-height: 130.1%;
    color: $text-color;
    margin-bottom: 1.125rem;
    margin-top: 5.625rem;
  }

  .coll-grid,
  .best-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .coll-grid p {
    font-size: 1.5rem;
    line-height: 130.1%;
    color: #000000;

    img {
      margin-left: 0.3125rem;
      transition: all 0.2s linear;
    }
  }
}

.coll-img {
  cursor: pointer;
}

.showcase-container .coll-img:hover p img {
  transform: translateX(20px);
}

header .header-img {
  .img-bg-g {
    position: absolute;
    width: 23.5rem;
    height: 27.5rem;
    top: 0.125rem;
    left: 0.1875rem;
    background: #5a9f45;
    box-shadow: rgba(134, 198, 116, 0.1);
    transform: rotate(-8deg);
    transition: all 0.2s linear;
  }

  &:hover .img-bg-g {
    transform: rotate(0deg);
  }
}

.showcase-container .best-grid {
  .product,
  .specs {
    display: flex;
    justify-content: space-between;
    padding-left: 0.625rem;
    padding-right: 1.25rem;
  }
}

.product {
  font-size: 1.5rem;
  line-height: 130.1%;
  color: $text-color;
}

.opt {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 130.1%;
  color: #979797;
  padding-left: 0.625rem;
  padding-right: 1.25rem;
  position: relative;
  z-index: 120;
}

.best-grid img {
  cursor: pointer;
}

.showcase-container .best-grid .colors {
  display: flex;
  align-items: flex-end;
  padding-top: 1.125rem;

  div {
    &:nth-child(1) {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background: #cb9863;
      margin-left: 0.5rem;
      cursor: pointer;

      &:hover {
        box-shadow: 0rem 0rem 0rem 0.1875rem #344356;
      }
    }

    &:nth-child(2) {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background: #344356;
      margin-left: 0.75rem;
      cursor: pointer;

      &:hover {
        box-shadow: 0rem 0rem 0rem 0.1875rem #cb9863;
      }
    }
  }
}

/* featured */

.feat-container {
  height: 50.625rem;
  background: rgba(242, 198, 152, 0.6);
}

.feat-head {
  font-weight: bold;
  font-size: 2.875rem;
  line-height: 130.1%;
  color: $text-color;
  padding-top: 4.25rem;
}

.feat-container {
  .feat-flex {
    display: flex;
    justify-content: space-between;
  }

  .feat-content {
    padding-top: 4.375rem;

    h1 {
      font-weight: normal;
      font-size: 2.25rem;
      line-height: 130.1%;
      letter-spacing: 0.03em;
      color: $text-color;
    }

    p {
      font-size: 1.5rem;
      line-height: 140.1%;
      letter-spacing: 0.12em;
      color: $text-color;
      width: 35.875rem;
    }
  }

  a {
    font-size: 1.5rem;
    line-height: 130.1%;
    letter-spacing: 0.06em;
    padding: 1.375rem 1.75rem;
    color: #ffffff;
    background: $color-secondary;
  }

  p {
    margin-bottom: 4.5625rem;
  }
}

.feat {
  .vector {
    position: absolute;
  }

  .feat-img {
    position: relative;
    top: -23.75rem;
    left: -0.8125rem;
    margin-right: -4.375rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.feat-container .price-tag {
  position: relative;
  z-index: 99;
  color: red;
  right: 0;
  top: 21.25rem;
  float: right;
  width: 12.75rem;
  background: $color-secondary;
  padding: 1.875rem 1.875rem;
}

.price-tag {
  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 130.1%;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin: auto;
  }

  h1 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 130.1%;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin: auto;
  }
}

/* subscription */

.sub-container {
  margin-top: 8.125rem;
  height: 31.4375rem;
  background: $color-secondary;

  .sub-text {
    width: 66.9375rem;
    font-size: 2.25rem;
    line-height: 130.1%;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding-top: 6.6875rem;
  }

  .inbox {
    position: relative;
  }

  .sub-text img {
    position: absolute;
    top: -0.6875rem;
    left: -0.625rem;
  }

  .sub-form {
    display: flex;
    justify-content: space-between;
  }

  .form-div {
    margin-top: 10rem;
  }
}

.sub-form img {
  margin-left: 10.625rem;
}

.sub-container .sub-form form {
  max-width: 37.5rem;
  width: 100%;
}

.sub-form {
  form div {
    display: flex;
    align-items: center;
    border-bottom: 0.125rem solid #f2f2f2;
    padding: 1rem 0;
  }

  input {
    appearance: none;
    background: transparent;
    border: none;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 130.1%;
    letter-spacing: 0.06em;
    color: rgba(189, 189, 189, 0.62);
    outline: none;
    margin-right: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  button {
    flex-shrink: 0;
    appearance: none;
    border: none;
    background: transparent;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 130.1%;
    letter-spacing: 0.06em;
    color: #f2f2f2;
    padding: 0.25rem 0.5rem;
  }
}

/* image grid */

.img-grid-container {
  margin: 8.875rem 0;
}

.img-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.25rem;

  img:first-of-type {
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

/* footer */

footer {
  background: $color-primary;

  .full-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9.125rem;
  }
}

.full-footer div {
  &:first-of-type {
    text-align: center;
  }

  h1 {
    font-weight: bold;
    font-size: 2.875rem;
    line-height: 130.1%;
    color: $text-color;
  }
}

footer .footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-items ul {
  list-style: none;

  li {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $text-color;
    padding-bottom: 2rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &:first-of-type {
    margin-right: 8.75rem;
  }
}

footer .social-links {
  display: flex;
  justify-content: space-between;
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
}

.social-links {
  p {
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: $text-color;

    a {
      font-size: 0.625rem;
      line-height: 0.75rem;
      color: $text-color;
    }
  }

  img {
    margin-right: 2.5rem;
  }
}
